<script type="text/javascript">
	function action2do (s) {
		var f="";
		f=$(s).data("todo");
		f+="("+$(s).data("value")+")";
		eval(f);
	}
</script>
<nav class="toolbar">
	<div>
		<div class="itemD" onclick="undo()"><%= fa_icon "undo"%></div>
		<div class="itemD" onclick="redo()"><%= fa_icon "repeat"%></div>
	</div>
	
	<div><div class="spacer"></div></div>

	<div>
		<div class="itemD" onclick="iBold()"><%= fa_icon "bold"%></div>
		<div class="itemD" onclick="iItalic()"><%= fa_icon "italic"%></div>
		<div class="itemD" onclick="iUnderline()"><%= fa_icon "underline"%></div>
	</div>

	<div><div class="spacer"></div></div>

	<div>
		<div class="itemD" onclick="Left()"><%= fa_icon "align-left"%></div>
		<div class="itemD" onclick="Center()"><%= fa_icon "align-center"%></div>
		<div class="itemD" onclick="Right()"><%= fa_icon "align-right"%></div>		
	</div>
	
	<div><div class="spacer"></div></div>

	<div class="customSelect">
		<select type="none" id="droped" onchange='action2do($( "#droped option:selected" ))'>
			<option class="itemDD" data-todo="SetSize" data-value="1">Uno</option>
			<option class="itemDD" data-todo="SetSize" data-value="2">Dos</option>
			<option class="itemDD" data-todo="SetSize" data-value="3">Tres</option>
			<option class="itemDD" data-todo="SetSize" data-value="4">Cuatro</option>
			<option class="itemDD" data-todo="SetSize" data-value="5">Cinco</option>
		</select>
	</div>

	<div><div class="spacer"></div></div>

	<div>
		<div class="itemD" onclick="iOrderedList()"><%= fa_icon "list-ol"%></div>
		<div class="itemD" onclick="iUnorderedList()"><%= fa_icon "list-ul"%></div>
	</div>
	
		<div><div class="spacer"></div></div>

	<div>
		<div class="itemD" onclick="iLink()"><%= fa_icon "chain"%></div>
		<div class="itemD" onclick="iUnLink()"><%= fa_icon "unlink"%></div>
	</div>

	<div><div class="spacer"></div></div>

	<div>
		<div class="itemD" onclick="iImage()"><%= fa_icon "camera-retro"%></div>
	</div>

	<div><div class="spacer"></div></div>

	<div>
		<div class="itemD" onclick="createTable()"><%= fa_icon "table"%></div>
		<div class="itemD" onclick="createTableWithHeader()"><%= fa_icon "table"%></div>
	</div>

	<div><div class="spacer"></div></div>

	<div>
		<div class="itemD" id="ForeColor" onclick="iForeColor()"><%= fa_icon "font"%></div>
		<div class="itemD" id="BackColor" onclick="iBackColor()"><%= fa_icon "font"%></div>
	</div>
</nav>


<!--MISC-->
<div class="hidden">
	<input type="color" id="iForeColor" onchange="changeF()">
	<input type="color" id="iBackColor" onchange="changeB()">
</div>